.primary-button{
    background-color: rgb(251, 238, 204);
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    color: black;
    padding: 16px 36px;
    border: 2px solid;
}